
/* NAVBAR */
.container{
    display: flex;
    flex-direction: column;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}
.list li{
    margin: 20px;
    color: #758283;
}
.list li:hover{
    color: #111111;
}

.grow-list{
    display: flex;
    width: 60vw;
    height: 10vh;
    justify-content: flex-start
    
}

.navbar-container div img{
    position: relative;
    left: 100px;
    top: 25px;
}

.nav-button{

    height: 55px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: #5955b3;
    color: #FFFFFF;
    font-size: 18px;

}
/* NAVBAR */

/* BODY */

.banner-container{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 150px;
}

.heading-text{
    color: #3c2f60;
    font-size: 4rem;

}
.heading-text span{
    color: #5955b3;
}
.description{
    color: #758283;
}
.nav-button {
    margin-top: 30px;
    width: 200px;
}



/* BODY */